@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

//VARIABLES
$default: #333;
$white: #fff;
$black: #000000;
$footer-color: #929ba4;
$yellow: #dfc24b;


//HEADER 
header {
    background-color: $white;
    padding: 12px 0;

    ul {
        li {
            list-style: none;
            background-image: url('../images/check-bullet-green.jpg'); 
            background-position: 0 4px;
            background-repeat: no-repeat;
            padding-left: 20px;
            color: $black;
            font-weight: 600;
            font-size: 13px;
        }
    }
}

//CONTENT
.find-lawyer {
    background: #032c6a url('../images/radial.png') bottom center no-repeat;
    padding: 35px 0;

    h1 {
        font-size: 33pt;
        color: $white;
        font-weight: 300;
        margin-bottom: 12px;

        small {
            font-size: 23pt;
            color: $white;
            font-weight: 600;
        }
    }

    h2 {
        color: $white;
        font-weight: 400;
        font-size: 17pt;
        margin-bottom: 25px;
    }
    .media {

        border-bottom: 1px solid #47709e;
        padding-bottom: 14px;

        &:last-child {
            border-bottom: none !important;
        }

        &-left {
            width: 20%;
            text-align: center;
            padding-right: 12px;
            h3 {
                color: $white;
                font-size: 13px;
                margin: 10px 0 0 0;
                text-align: center;
                font-weight: 600;

                small {
                    color: #dbdbdb;
                    font-weight: 600;
                    font-size: 82%;
                }
            }
        }

        &-body {
            h4 {
                color: $white;
                font-size: 12px;
                font-weight: 600;
            }
    
            p {
                color: #e4e4e4;
                font-style: italic;
                font-size: 11px;
            }

            a {
                color: $yellow;
                font-size: 10px;
                padding-top: 16px;
                font-weight: 600;

                .book {
                    background: transparent url('../images/open-book.png') no-repeat center center;
                    padding: 2px 8px;
                    background-size: 14px;
                    margin-left: 4px;
                }
            }
        }
    }

    label {
        color: $white;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 12px;
        margin-top: 10px;
    }

    .form-group {
        border-radius: 40px;
        padding: 12px 0;
        background-color: #eceff3; 

        input {
            border: none;
            background-color: transparent;
            box-shadow: none;
        }
    }

    .load-category {
        color: $white;
        font-weight: 500;
        font-size: 15px;
        padding-top: 8px;

        a {
            text-decoration: underline;
            color: $white;
        }
    }
}
//FOOTER
footer {
    padding: 30px 0 85px 0;
    background-color: $white;

    > div {
        border-bottom: 1px solid #efefef;
        padding-bottom: 25px;
    }

    * {
        color: #929ba4;
    }

    ul {
        margin-bottom: 50px;

        li {
            display: inline-block;

            &:before {
                content: '\2022';
                color: #929ba4;
                padding: 0 24px 0px 24px;
                font-weight: 600;
                font-size: 26pt;
                line-height: 0;
                position: relative;
                top: 5px;
            }

            &:first-child:before{
                content: '';
                padding: 0;
            }

            a {
                font-size: 12px;
                font-weight: 600;
                &:hover {
                    color: #929ba4;
                }
            }
        }
    }

    p {
        font-size: 12px;
    }

    .certified {
        margin-bottom: 10px;
        position: relative;

        &.bbb {
            left: -4px;
        }
    }
}

//GLOBALS
.bold {
    font-weight: 700;
}
.steps {
    background-color: #d68d00;
    width: 32px;
    height: 32px;
    margin: auto;
    color: $white;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    line-height: 32px;
    position: relative;
    top: 0px;
}

.rate-star {
    background-image: url('../images/star-grey.png');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0 6px;
    background-size: 12px;
    margin:0 2px;
    &:first-child {
        margin-left: 20px;
    }
    &.full {
        background-image: url('../images/star.png');
    }
}

.no-{
    &padding-{
        &all {
            padding: 0 !important;
        }
        &left {
            padding-left: 0 !important;
        }
        &right {
            padding-right: 0 !important;
        }
        &bottom {
            padding-bottom: 0 !important;
        }
        &top {
            padding-top: 0 !important;
        }
    }

    &margin- {
        &all {
            margin: 0 !important;
        }
        &left {
            margin-left: 0 !important;
        }
        &right {
            margin-right: 0 !important;
        }
        &bottom {
            margin-bottom: 0 !important;
        }
        &top {
            margin-top: 0 !important;
        }
    }

    &float {
        float: none !important;
    }

    &border- {
        &all {
            border: none !important
        }
    }
}


//OVERRIDES
.nice-select{
    border: none;
    background-color: transparent;
    &.wide {
        .list {
            border-radius: 20px;
            top: 56px;
            width: 123%;
            margin-left: -85px;
        }

        &:after {
            width: 10px;
            height: 10px;
        }
    }
    
}

.modal {
    &-header {
        border-color: #666666;
        button {
            outline: none;
            span {
                font-size: 30pt;
                font-weight: 300;
            }
        }
    }

    &-body {
        li {
            font-size: 9.5pt;
            list-style: none;
            padding: 5px 0;
        }
    }

    
    hr {
        border-color: #666666;
    }
    
    &#reviewDetailModal {
        h3 {
            font-size: 24pt;
            color: $black;
            line-height: 28px;
            small {
                font-size: 15px;
                color: #979da3;
                font-weight: 500;
            }
        }

        .rating-details {
            padding: 15px 0;
            border-top: 1px solid #666666;
            border-bottom: 1px solid #666666;
            margin-bottom: 28px;
        }

        .list-group-item {
            border-color: transparent;
            .badge {
                background-color: transparent;
            }
        }

        h4, h5 {
            .rate-star {
                background-size: 14px;
                padding: 0 7px;
            }
        }
    }

    &#subCategoryModal {
        .steps {
            font-size: 13px;
        }

        h4 {
            font-size: 16px;
            color: #4e555c;
            line-height: 35px;
            padding-left: 46px;
            font-weight: 400;
        }

        .find-lawyer-button {
            margin-top: 56px;
            width: 256px;
            margin: auto;
            background-color: #02377b;
            padding: 10px;
            border-radius: 40px;
            font-weight: 700;
            color: $white;
            text-align: center;
            font-size: 14pt;
            text-transform: uppercase;
            border: none;
        }

        .checkbox {
            margin: 13px 0;
        }
    }

}

.typeahead {
    &.dropdown-menu {
        top: 44px !important;
        left: -68px !important;
        min-width: 250px !important;
        padding: 0px !important;
        border-radius: 0px !important;
        border: none !important;

        li {
            .dropdown-item {
                padding-top: 10px !important;
                padding-bottom: 10px !important; 
                font-size: 12px !important;
                color: $black;
                
                strong {
                    font-weight: 500 !important;
                    color: #4699ff;
                }
            }

            &.active {
                a {
                    background-color: $white !important;
                }
            }
        }
    }
}

