@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

header {
  background-color: #fff;
  padding: 12px 0; }
  header ul li {
    list-style: none;
    background-image: url("../images/check-bullet-green.jpg");
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding-left: 20px;
    color: #000000;
    font-weight: 600;
    font-size: 13px; }

.find-lawyer {
  background: #032c6a url("../images/radial.png") bottom center no-repeat;
  padding: 35px 0; }
  .find-lawyer h1 {
    font-size: 33pt;
    color: #fff;
    font-weight: 300;
    margin-bottom: 12px; }
    .find-lawyer h1 small {
      font-size: 23pt;
      color: #fff;
      font-weight: 600; }
  .find-lawyer h2 {
    color: #fff;
    font-weight: 400;
    font-size: 17pt;
    margin-bottom: 25px; }
  .find-lawyer .media {
    border-bottom: 1px solid #47709e;
    padding-bottom: 14px; }
    .find-lawyer .media:last-child {
      border-bottom: none !important; }
    .find-lawyer .media-left {
      width: 20%;
      text-align: center;
      padding-right: 12px; }
      .find-lawyer .media-left h3 {
        color: #fff;
        font-size: 13px;
        margin: 10px 0 0 0;
        text-align: center;
        font-weight: 600; }
        .find-lawyer .media-left h3 small {
          color: #dbdbdb;
          font-weight: 600;
          font-size: 82%; }
    .find-lawyer .media-body h4 {
      color: #fff;
      font-size: 12px;
      font-weight: 600; }
    .find-lawyer .media-body p {
      color: #e4e4e4;
      font-style: italic;
      font-size: 11px; }
    .find-lawyer .media-body a {
      color: #dfc24b;
      font-size: 10px;
      padding-top: 16px;
      font-weight: 600; }
      .find-lawyer .media-body a .book {
        background: transparent url("../images/open-book.png") no-repeat center center;
        padding: 2px 8px;
        background-size: 14px;
        margin-left: 4px; }
  .find-lawyer label {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 10px; }
  .find-lawyer .form-group {
    border-radius: 40px;
    padding: 12px 0;
    background-color: #eceff3; }
    .find-lawyer .form-group input {
      border: none;
      background-color: transparent;
      box-shadow: none; }
  .find-lawyer .load-category {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding-top: 8px; }
    .find-lawyer .load-category a {
      text-decoration: underline;
      color: #fff; }

footer {
  padding: 30px 0 85px 0;
  background-color: #fff; }
  footer > div {
    border-bottom: 1px solid #efefef;
    padding-bottom: 25px; }
  footer * {
    color: #929ba4; }
  footer ul {
    margin-bottom: 50px; }
    footer ul li {
      display: inline-block; }
      footer ul li:before {
        content: '\2022';
        color: #929ba4;
        padding: 0 24px 0px 24px;
        font-weight: 600;
        font-size: 26pt;
        line-height: 0;
        position: relative;
        top: 5px; }
      footer ul li:first-child:before {
        content: '';
        padding: 0; }
      footer ul li a {
        font-size: 12px;
        font-weight: 600; }
        footer ul li a:hover {
          color: #929ba4; }
  footer p {
    font-size: 12px; }
  footer .certified {
    margin-bottom: 10px;
    position: relative; }
    footer .certified.bbb {
      left: -4px; }

.bold {
  font-weight: 700; }

.steps {
  background-color: #d68d00;
  width: 32px;
  height: 32px;
  margin: auto;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  line-height: 32px;
  position: relative;
  top: 0px; }

.rate-star {
  background-image: url("../images/star-grey.png");
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 6px;
  background-size: 12px;
  margin: 0 2px; }
  .rate-star:first-child {
    margin-left: 20px; }
  .rate-star.full {
    background-image: url("../images/star.png"); }

.no-padding-all {
  padding: 0 !important; }
.no-padding-left {
  padding-left: 0 !important; }
.no-padding-right {
  padding-right: 0 !important; }
.no-padding-bottom {
  padding-bottom: 0 !important; }
.no-padding-top {
  padding-top: 0 !important; }
.no-margin-all {
  margin: 0 !important; }
.no-margin-left {
  margin-left: 0 !important; }
.no-margin-right {
  margin-right: 0 !important; }
.no-margin-bottom {
  margin-bottom: 0 !important; }
.no-margin-top {
  margin-top: 0 !important; }
.no-float {
  float: none !important; }
.no-border-all {
  border: none !important; }

.nice-select {
  border: none;
  background-color: transparent; }
  .nice-select.wide .list {
    border-radius: 20px;
    top: 56px;
    width: 123%;
    margin-left: -85px; }
  .nice-select.wide:after {
    width: 10px;
    height: 10px; }

.modal-header {
  border-color: #666666; }
  .modal-header button {
    outline: none; }
    .modal-header button span {
      font-size: 30pt;
      font-weight: 300; }
.modal-body li {
  font-size: 9.5pt;
  list-style: none;
  padding: 5px 0; }
.modal hr {
  border-color: #666666; }
.modal#reviewDetailModal h3 {
  font-size: 24pt;
  color: #000000;
  line-height: 28px; }
  .modal#reviewDetailModal h3 small {
    font-size: 15px;
    color: #979da3;
    font-weight: 500; }
.modal#reviewDetailModal .rating-details {
  padding: 15px 0;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  margin-bottom: 28px; }
.modal#reviewDetailModal .list-group-item {
  border-color: transparent; }
  .modal#reviewDetailModal .list-group-item .badge {
    background-color: transparent; }
.modal#reviewDetailModal h4 .rate-star, .modal#reviewDetailModal h5 .rate-star {
  background-size: 14px;
  padding: 0 7px; }
.modal#subCategoryModal .steps {
  font-size: 13px; }
.modal#subCategoryModal h4 {
  font-size: 16px;
  color: #4e555c;
  line-height: 35px;
  padding-left: 46px;
  font-weight: 400; }
.modal#subCategoryModal .find-lawyer-button {
  margin-top: 56px;
  width: 256px;
  margin: auto;
  background-color: #02377b;
  padding: 10px;
  border-radius: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 14pt;
  text-transform: uppercase;
  border: none; }
.modal#subCategoryModal .checkbox {
  margin: 13px 0; }

.typeahead.dropdown-menu {
  top: 44px !important;
  left: -68px !important;
  min-width: 250px !important;
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important; }
  .typeahead.dropdown-menu li .dropdown-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 12px !important;
    color: #000000; }
    .typeahead.dropdown-menu li .dropdown-item strong {
      font-weight: 500 !important;
      color: #4699ff; }
  .typeahead.dropdown-menu li.active a {
    background-color: #fff !important; }

/*# sourceMappingURL=legalmatch-fe-jbe.css.map */
