body {
	padding-top: 70px;
	background-color: #37474f;
}

#home > div > div.container-fluid {
	margin-left: -15px;
	margin-right: -15px;
}

#home a.navbar-brand {
	line-height: 11px;
	text-align: center;
	font-size: 24px;
	color: #333;
	font-weight: 700;
}

#home a.navbar-brand small{
	font-size: 10px;
	font-weight: normal;
	color: #777;
}

#login > div {
	border-radius: 6px;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

#login .logo > * {
	display: block;
}

#login .logo img {
	height: 100px;
}
#login .logo h1 {
	line-height: 15px;
	margin-top: 14px;
	margin-bottom: 20px;
	font-size: 36pt;
	font-weight: 700;
	letter-spacing: 2px;
}
#login .logo h1 small {
	font-size: 9.5pt;
	letter-spacing: 4px;
}

/*GLOBALS*/
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
.widget {
	padding: 0px;
}
.widget > div {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #fff;
	border-radius: 0px;
	margin: 2px;
	min-height: 222px;
}

.widget .widget-title {
	margin: 0 0 15px 0;
	font-size: 14pt;
}

.c100 img.circle-icons {
	width: 24px;
	opacity: 0.2;
}

.c100 i.glyphicon {
	font-size: 20px;
	top: 5px;
}
.circle-chart {
	margin: 6px 0;
}
.circle-chart h2 {
	margin: 12px 0px;
	text-align:center;
	font-size: 18px;
	color: #333;
}

.circle-chart h2 small {
	padding-left: 2px;
}

.friends-rank li {
	padding: 4px 15px;
	margin-top: 8px;
}

.friends-rank li.active {
	background-color: #e1f5fe;
	color: #039be5;
}
.friends-rank h5 {
	font-size: 9.5px;
}
.friends-rank h2 {
	font-weight: normal;
	font-size: 18px;
	margin: 0;
	padding: 0;
}